[Unit]
Description=Alertmanager
After=network.target

[Service]
EnvironmentFile=-/etc/default/alertmanager
User={{ prometheus_user }}
Group={{ prometheus_user }}
Type=simple
ExecStart={{ alertmanager_bin_path }}/alertmanager \
          --config.file={{ alertmanager_config_path }}/{{ alertmanager_config_file }} \
          --storage.path={{ alertmanager_storage_path }} \
          $ALERTMANAGER_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
